<article>
  <img src="/images/coffees/<%= product.reference %>.png" alt="<%= product.name %>">
  <div>
    <h3>
      <%= product.name %>
    </h3>
    <a class="button-outline" href="/catalog/<%= product.id %>">Voir le détail</a>
  </div>
</article>