/* ======== About Section ======== */

#about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
}

#about .about-article h2 {
    font-size: 2.5rem;
    font-weight: bold;
}
#about .about-article h2 button{
    background-color: inherit;
    color: inherit;
    border: inherit;
}
#about .about-article h2 button:hover {
    cursor: pointer;
}
#about .about-article .hide{
    display: none;
}
#about .about-article p {
    line-height: 1.5rem;
    margin: 3rem 0;
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: justify;
}

/* Acces map styles */
.leaflet-container {
    height: 400px;
    width: 600px;
    max-width: 100%;
    max-height: 100%;
}

#map { 
    width: 600px; 
    height: 400px; 
    position: relative; 
    outline-style: none;
    margin: 3rem 0;
}

/* contact form style */
#about form {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 1rem;
    margin: 2rem 1rem;
}

