.error h1 {  
    font-size: 2.5rem;
    font-weight: bold;
    margin: 2rem 0;
    text-align: center;
}
.error p {
    line-height: 1.5rem;
    margin: 3rem 0;
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: center;
}